<div class="example-container">
  <h2>Posibles Invitados</h2>

  <button mat-raised-button color="primary">Agregar posible Invitado</button>

  <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="availablePeople" [cdkDropListConnectedTo]="[doneList]"
    class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of availablePeople" cdkDrag>{{item.name}} {{item.surname}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Confirmados</h2>
  <button mat-raised-button color="primary" (click)="sendInvitations()">Enviar invitaciones</button>

  <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="confirmedPeople" [cdkDropListConnectedTo]="[todoList]"
    class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of confirmedPeople" cdkDrag>{{item.name}} {{item.surname}}</div>
  </div>
</div>